{% extends "base.html" %}
{% block 'Contenido' %}

<div id="nav_destacados" class="container">
    <div class="row">
        <h2 class=" text-center">{{inmueble.nombre}}</h2>
        <!-- <img src="{{inmueble.image_url}}" alt=""> -->
        <div class="col-3 col-sm-3 py-2"></div>
        <div class="col-6 col-sm-6 py-2 card mb-3 p-5">
        <img src="/media/{{inmueble.imagen}}" class="card-img-top " alt="..." style="max-height: 450px; max-width: 900px; border-color: blue;" />
        <div class="card-body">
            <h5 class="card-title">{{inmueble.nombre}}</h5>
            <p class="card-text">{{inmueble.descripcion}}.</p>
            <p class="card-text">{{inmueble.comuna}}.</p>
            <p class="card-text">
                <small class="text-body-secondary">Precio: ${{inmueble.precio}}</small>
            </p>
            <a 
                id="add_cart"
                href="#"
                data-inmueble_id="{{inmueble.id}}"
                data-user_id="{{user.id}}"
                data-csrf_token="{{csrf_token}}"
                class="btn btn-primary"
                style="background-color: rgb(72, 165, 49); border-color: black;">Agregar al carro
            </a>

            <a href="{% url 'index' %}" class="btn btn-primary" style="background-color: indianred;border-color: black;">Volver</a>
            {% if user.is_superuser or user.id == inmueble.propietario.id%}
                <a href="{% url 'eliminar_inmueble' inmueble.id %}" class="btn btn-primary" style="background-color: indianred;border-color: black;">Eliminar</a>
            {% endif %}
        </div>
        </div>
        <div class="col-3 col-sm-3 py-2"></div>

    </div>
</div>

{% endblock %}