{% extends 'base.html' %}

{% block 'Contenido' %}
    <div id="nav_destacados" class="container">
        <div class="row">
          <h2 class="text-center mt-4 mb-4" style="font-size: xx-large;">Encuentra casas, departamentos y parcelas en arriendo</h2> 
            {% for inm in inmuebles %}
                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                    <div class="card bg-light d-flex flex-fill" style="width: auto; border-color: black;">
                        <a href="{% url 'detalle' inm.id %}">
                            <img  style="height: 12rem;" src="/media/{{inm.imagen}}" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{inm.nombre}}</h5>
                            <p class="card-text">${{inm.precio}}</p>
                            <p class="card-text">Region: {{inm.comuna.region}}</p>
                            <p class="card-text">Comuna: {{inm.comuna}}</p>
                            <a href="{% url 'detalle' inm.id %}" class="btn btn-primary" style="background-color: rgb(73, 176, 118); border-color: black;">Ver más</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


